* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-items: center;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(6, 11, 31);
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.photo-container {
    position: fixed;
    z-index: -2;
    mask-image: linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0) 80%);
}

.cover-photo {
    width: 100vw;
    animation: aparicion 2s ease-in-out forwards;
    mask-image: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 70%);
    mask-size: 100%;
    mask-position: center;
}

@keyframes aparicion {
    from {
      transform: scale(1.1);
      mask-size: 100%;
    } to {
      transform: scale(1.0);
      mask-size: 500%;
    }
}

.marvel-logo {
    position: absolute;
    top: 22vw;
    width: 30vw;
    opacity: 0;
    transition: transform 0.4s linear;
    animation: aparicionLogo 1s ease-out 1s forwards;
}

@keyframes aparicionLogo {
    from {
      transform: translateY(32px);
      opacity: 0;
    } to {
      transform: translateY(0px);
      opacity: 1;
    }
}

.main-container {
    position: absolute;
    top: 42vw;
    width: 100%;
}

.exitos-contenedor {
    position: absolute;
    top: 0;
    width: 100%;
}

.faseuno-contenedor {
    position: absolute;
    top: 400px;
    width: 100%;
}

.fasedos-contenedor {
    position: absolute;
    top: 800px;
    width: 100%;
}

.fasetres-contenedor {
    position: absolute;
    top: 1200px;
    width: 100%;
}

.fasecuatro-contenedor {
    position: absolute;
    top: 1600px;
    width: 100%;
}

.fasecinco-contenedor {
    position: absolute;
    top: 2000px;
    width: 100%;
}

.cronologia-contenedor {
    position: absolute;
    top: 2400px;
    width: 100%;
}

.title-container {
    position: absolute;
    top: -16px;
    left: 48px;
    font-size: 20px;
    color: white;
    user-select: none;
}

.movies-container {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    height: 375px;
    width: 100%;
    transition: transform 0.4s ease;
    overflow-x: scroll;
    padding-left: 48px;
    padding-right: 4vw;
    scroll-behavior: smooth;
}

.movies-container::-webkit-scrollbar {
    display: none;
}

.movies-container img {
    height: 80%;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    box-shadow: -2px 2px 20px 0 rgb(0, 0, 0, .75), 0 19px 10px -10px rgb(0, 0, 0, .75);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    user-select: none;
}

.movies-container img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 0 3px white;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 160px;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.prev-btn {
    display: none;
    left: 12px;
}

.next-btn {
    right: 12px;
}

.prev-btn:hover,
.next-btn:hover {
    opacity: 1;
}

.footer {
    position: absolute;
    top: 2800px;
    height: 8px;
    width: 100%;
}

@media screen and (max-width: 720px) {

    .footer {
        display: none;
    }

    .marvel-logo {
        width: 40vw;
        top: 25vw;
    }

    .main-container {
        top: 48vw;
    }

    .exitos-contenedor {
        top: 0px;
    }
    
    .faseuno-contenedor {
        top: 340px;
    }
    
    .fasedos-contenedor {
        top: 680px;
    }
    
    .fasetres-contenedor {
        top: 1020px;
    }
    
    .fasecuatro-contenedor {
        top: 1360px;
    }
    
    .fasecinco-contenedor {
        top: 1700px;
    }
    
    .cronologia-contenedor {
        top: 2040px;
    }

    .movies-container img {
        height: 70%;
        margin-right: 8px;
    }

    .movies-container {
        padding-left: 24px;;
    }

    .title-container {
        font-size: 16px;
        top: 16px;
        left: 28px;
    }
}
