* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-items: center;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(6, 11, 31);
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.cover-container {
    position: fixed;
    z-index: -2;
    mask-image: linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0) 80%);
}

.cover-photo {
    width: 100vw;
    animation: aparicion 2s ease-in-out forwards;
    mask-image: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0) 70%);
    mask-size: 100%;
    mask-position: center;
}

@keyframes aparicion {
    from {
      transform: scale(1.1);
      mask-size: 100%;
    } to {
      transform: scale(1.0);
      mask-size: 500%;
    }
}

.logo-container {
    position: absolute;
    top: 22vw;
    transition: transform 0.4s linear;
}


.marvel-logo {
    width: 30vw;
    opacity: 0;
    animation: aparicionLogo 1s ease-out 1s forwards;
}

@keyframes aparicionLogo {
    from {
      transform: translateY(32px);
      opacity: 0;
    } to {
      transform: translateY(0px);
      opacity: 1;
    }
}

.main-container {
    position: absolute;
    top: 42vw;
    width: 100%;
}

.hits-container {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    animation: aparicionLogo 1s ease-out 0.5s forwards;
}

.phaseone-container {
    position: absolute;
    top: 400px;
    width: 100%;
    opacity: 0;
    animation: aparicionLogo 1s ease-out 0.6s forwards;
}

.phasetwo-container {
    position: absolute;
    top: 800px;
    width: 100%;
    opacity: 0;
    animation: aparicionLogo 1s ease-out 0.7s forwards;
}

.phasethree-container {
    position: absolute;
    top: 1200px;
    width: 100%;
    opacity: 0;
    animation: aparicionLogo 1s ease-out 0.8s forwards;
}

.phasefour-container {
    position: absolute;
    top: 1600px;
    width: 100%;
    opacity: 0;
    animation: aparicionLogo 1s ease-out 0.9s forwards;
}

.phasefive-container {
    position: absolute;
    top: 2000px;
    width: 100%;
    opacity: 0;
    animation: aparicionLogo 1s ease-out 1s forwards;
}

.chronology-container {
    position: absolute;
    top: 2400px;
    width: 100%;
    opacity: 0;
    animation: aparicionLogo 1s ease-out 1.1s forwards;
}

.title {
    position: absolute;
    top: -16px;
    left: 48px;
    font-size: 20px;
    color: white;
    user-select: none;
    text-shadow: 2px 2px 8px rgb(0 0 0 / 50%)
}

.movies-container {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    height: 375px;
    width: 100%;
    transition: transform 0.4s ease;
    overflow-x: scroll;
    padding-left: 48px;
    padding-right: 48px;
    scroll-behavior: smooth;
}

.movies-container::-webkit-scrollbar {
    display: none;
}

.movies-container img {
    height: 80%;
    aspect-ratio: 2 / 3;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    box-shadow: -2px 3px 20px 0 rgba(0,0,0,.69),0 16px 10px -10px rgba(0,0,0,.73);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, outline 0.3s ease-out;
    user-select: none;
    outline: 4px solid transparent;
    outline-offset: -4px;
}

.movies-container img:hover {
    transform: scale(1.05);
    box-shadow: 1px -20px 14px -18px rgba(0,0,0,.8),2px 12px 13px -3px rgba(0,0,0,.72);
    outline-offset: -4px;
    outline: 4px solid white;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 37px;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease;
    height: 300px;
    width: 60px;
    align-content: center;
}

.next-btn svg {
    position: relative;
    left: 8px;
}

.prev-btn svg {
    position: relative;
    left: 8px;
}

.prev-btn {
    display: none;
    left: 0px;
}

.next-btn {
    right: 0px;
}

.prev-btn:hover,
.next-btn:hover {
    opacity: 1;
}

.footer {
    position: absolute;
    top: 2800px;
    height: 8px;
    width: 100%;
}

@media screen and (max-width: 720px) {

    .footer {
        display: none;
    }

    .marvel-logo {
        width: 40vw;
        top: 25vw;
    }

    .main-container {
        top: 48vw;
    }

    .hits-container {
        top: 0px;
    }
    
    .phaseone-container {
        top: 340px;
    }
    
    .phasetwo-container {
        top: 680px;
    }
    
    .phasethree-container {
        top: 1020px;
    }
    
    .phasefour-container {
        top: 1360px;
    }
    
    .phasefive-container {
        top: 1700px;
    }
    
    .chronology-container {
        top: 2040px;
    }

    .movies-container img {
        height: 70%;
        margin-right: 8px;
    }

    .movies-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .title {
        font-size: 16px;
        top: 16px;
        left: 28px;
    }
}
