* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-items: center;
    background-color: #060b1f;
    font-family: 'Poppins', sans-serif;
}

.cover-container {
    position: fixed;
    mask-image: linear-gradient(0deg, #ff000000 0%, #000000 80%);
}

.cover-photo {
    width: 100vw;
    mask-image: radial-gradient(circle, #ffffff 0%, #00000000 80%);
    mask-position: center;
    animation: fadeInCover 2s ease-in-out forwards;
}

@keyframes fadeInCover {
    from {
      transform: scale(1.1);
      mask-size: 100%;
    }
    to {
      transform: scale(1.0);
      mask-size: 500%;
    }
}

.logo-container {
    position: absolute;
    top: 22vw;
    transition: transform 0.4s linear;
}

.marvel-logo {
    width: 30vw;
    opacity: 0;
    animation: fadeInLogo 1s ease-out 1s forwards;

    @media screen and (width < 720px) {
        width: 40vw;
        top: 25vw;
    }
}

@keyframes fadeInLogo {
    from {
      transform: translateY(32px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
}

.main-container {
    position: absolute;
    top: 42vw;
    width: 100%;

    @media screen and (width < 720px) {
        top: 48vw;
    }
}

.hits-container,
.phaseone-container,
.phasetwo-container,
.phasethree-container,
.phasefour-container,
.phasefive-container,
.chronology-container {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.hits-container {
    top: 0;
    animation: fadeInLogo 1s ease-out 0.5s forwards;
}

.phaseone-container {
    top: 400px;
    animation: fadeInLogo 1s ease-out 0.6s forwards;

    @media screen and (width < 720px) {
        top: 340px;
    }
}

.phasetwo-container {
    top: 800px;
    animation: fadeInLogo 1s ease-out 0.7s forwards;

    @media screen and (width < 720px) {
        top: 680px;
    }
}

.phasethree-container {
    top: 1200px;
    animation: fadeInLogo 1s ease-out 0.8s forwards;

    @media screen and (width < 720px) {
        top: 1020px;
    }
}

.phasefour-container {
    top: 1600px;
    animation: fadeInLogo 1s ease-out 0.9s forwards;

    @media screen and (width < 720px) {
        top: 1360px;
    }
}

.phasefive-container {
    top: 2000px;
    animation: fadeInLogo 1s ease-out 1s forwards;

    @media screen and (width < 720px) {
        top: 1700px;
    }
}

.chronology-container {
    top: 2400px;
    animation: fadeInLogo 1s ease-out 1.1s forwards;

    @media screen and (width < 720px) {
        top: 2040px;
    }
}

.title {
    position: absolute;
    top: -16px;
    left: 48px;
    text-shadow: 2px 2px 8px #00000080;
    font-size: 20px;
    color: #ffffff;
    user-select: none;

    @media screen and (width < 720px) {
        font-size: 16px;
        top: 16px;
        left: 28px;
    }
}

.movies-container {
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    height: 375px;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (width < 720px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.movies-container img {
    height: 80%;
    margin: 10px;
    aspect-ratio: 2 / 3;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    box-shadow: -2px 3px 20px 0 #000000bf, 0 16px 10px -10px #000000bf;
    outline: 4px solid transparent;
    outline-offset: -4px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, outline 0.3s ease-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: 1px -20px 14px -18px #000000bf, 2px 12px 13px -3px #000000bf;
        outline: 4px solid #ffffff;
    }

    @media screen and (width < 720px) {
        height: 70%;
        margin-right: 8px;
    }
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 37px;
    align-content: center;
    height: 300px;
    width: 60px;
    cursor: pointer;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.next-btn svg,
.prev-btn svg {
    position: relative;
    left: 8px;
}

.prev-btn {
    display: none;
    left: 0px;

    &:hover {
    opacity: 1;
    }
}

.next-btn {
    right: 0px;

    &:hover {
    opacity: 1;
    }
}

.footer {
    position: absolute;
    top: 2800px;
    width: 100%;
    height: 8px;

    @media screen and (width < 720px) {
        display: none;
    }
}
